<div class="container-fluid" id="views">

  <!-- start row logged in-->
  <div class="row">
    <!-- sidebar -->
    <div ng-if="signedIn()" class="col-sm-2" style="border-right: 1px solid black; border-bottom: 1px solid black">
      <ul class="nav nav-pills nav-stacked">
        <li style="margin-top: 10px;"><a href="#">{{ user.username }}</a></li>
        <li><a href="#">Friends</a></li>
        <li><a href="#">Messages</a></li>
        <li><a href="#">Teams</a></li>
        <li><a href="#">Blogs</a></li>
        <li style="margin-bottom: 10px;"><a href="#">Projects</a></li>
      </ul>
    </div>
    <!-- end sidebar -->

    <!-- main views -->
    <div class="col-sm-8">
      <h1>{{user.username}}</h1>
      <div ui-view></div>
    </div>
    <!-- end main views -->

    <!-- friend controller -->
    <div ng-if="signedIn()" ng-controller="ChatController as cc">
      <div class="col-sm-2" style="border-left: 1px solid black; border-bottom: 1px solid black; padding-bottom: 10px;">
        <h3 style="text-align: center; border-bottom: 1px solid black; padding-bottom: 10px; margin-bottom: 10px;">Chat</h3>
        <ul class="nav nav-pills nav-stacked" ng-repeat="friend in cc.friends">
          <li><a href="#">{{friend.username}}</a></li>
        </ul>
      </div>
    </div>
    <!-- end friend controller -->
  </div>
  <!-- end row logged in-->
</div>
