<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <title>TechBlogV000</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-controller="NavCtrl">
    <%= render 'layouts/nav' %>

      <!-- views -->

      <div class="container-fluid" id="views">
        <!-- start view logged out -->

        <div ui-view></div>

        <!-- end view logged out -->        

      </div>

      <!-- end views -->

      <!-- footer -->

      <footer class="container-fluid">
        <p style="color: white;">Footer Text</p>
      </footer>

      <!-- end footer  -->

    </div>
      <!-- end container -->

  </body>
</html>
