<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <title>TechBlogV000</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <!-- Static navbar -->
      <%= render 'layouts/nav' %>
      <div class="container-fluid" id="views">

      </div>
      <footer class="container-fluid">
        <p style="color: white;">Footer Text</p>
      </footer>
    </div>

  </body>
</html>
